.product-description {
  display: flex;
  align-items: flex-start;
}

.product-description__info h3 {
  font-size: 30px;
  line-height: 34px;
  margin-top: 5px;
}

.product-description__info p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.product-description__info button {
  width: 296px;
  height: 55px;
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: #4ac5df;
  border-radius: 5px;
}
